# Original file
BIMCV-COVID-19/*
bimcv*/*
*.tgz
CHANGES.txt
README.md
code/*
dataset_description.json
derivatives/
participants.tsv

# Model 
Frontal_Lateral_Model.h5

# Analysis notebook
*.ipynb

# Output file
bimcv_metadata.csv
bimcv_metadata.hdf5

# pdf file
*.pdf

# System files
.DS_Store
volumes
scripts
scripts/.ipynb_checkpoints/*

# Python related
__pycache__

# Logs
*.log